# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Specific to Intellij IDEA and my IDE projects
*~
*.zip
*.iml
.idea
.gitignore
Bulletin/
mailPrep/out/
configPrep/out/
# I thought to avoid the IDE files; but... it is to late, they are previously committed.
# mailPrep/.idea/
# configPrep/.idea/
# configPrep/genConfigOMX/src/META-INF/
# configPrep/genConfigZones/src/META-INF/
# mailPrep/chkZipCodes/src/META-INF/
# mailPrep/chkZipCounts/src/META-INF/
# mailPrep/genLabels/src/META-INF/
# mailPrep/genPartC/src/META-INF/
# configPrep/src/META-INF/


